container {
    max-width: 300px;
}

form {
    background-color: #ffffff;
    margin: 100px auto;
    padding: 40px;
    width: 70%;
    min-width: 300px;
}

.tab {
    display: none;
}

.invalid {
    color: white;
    background-color: #9C2542;
    transition: all .3s;
}

.buttons {
    overflow:auto;
}

.buttons__inner {
    float:right;
}

.steps {
    text-align:center;
    margin-top:40px;
}

.step {
    height: 15px;
    width: 15px;
    margin: 0 2px;
    background-color: #bbbbbb;
    border: none;
    border-radius: 50%;
    display: inline-block;
    opacity: 0.5;
}
  
  /* Mark the active step: */
.step.active {
    opacity: 1;
}

.step.finish {
    background-color: rgba(121, 85, 72, 0.65);
}

.message {
    display: none;
}

.message.show {
    display: flex;
    align-content: center;
    font-size: 36px;
    transition: all 1s;
}